{% extends "pizza/base.html" %}

{% block body %}
<div class="createpage">
    <h1>Create Your Pizza</h1>
    <form action="{% url 'pizza:pizza' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category }}"/>
        <div class="form-group">
            <label for="size">Select a Size</label>
            <select class="form-control" id="size" name="size">
                {% for i in sizes %}
                <option value="{{ i.size }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <h5>Select Ingredients</h5>
            <div class="col-lg-4">
                <h3>Meats</h3>
                {% for topping in meats %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topping_pk" value="{{ topping.pk }}" id="{{ topping.name }}">
                    <label class="form-check-label" for="{{ topping.name }}">
                        {{ topping.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <h3>Vegetables</h3>
                {% for topping in veggies %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topping_pk" value="{{ topping.pk }}" id="{{ topping.name }}">
                    <label class="form-check-label" for="{{ topping.name }}">
                        {{ topping.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <h3>Other</h3>
                {% for topping in others %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="topping_pk" value="{{ topping.pk }}" id="{{ topping.name }}">
                    <label class="form-check-label" for="{{ topping.name }}">
                        {{ topping.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        <p align="center"><button class="btn btn-primary">Add to Cart</button></p>

    </form>
</div>
{% endblock %}