{% extends "pizza/base.html" %}

{% block body %}
<div class="top">
	<div class="subheader">A Place for Pizza, Beer, and Football</div>

	<div class="category">
		<h3>Specialty Pizzas</h3>
		<div class="sizeandprice">
			{% for i in spizza_prices %}
			<div class="sizeandprices">
				{{ i.size }} {{ i.price }}
			</div>
			{% endfor %}
		</div>
		<div class="row">
			{% for p in spizza %}
			<div class="col col-lg-4 menu4">
				<a href="{% url 'pizza:specialty' pk=p.pk %}">
					<h4>{{ p.name }}</h4>
					<p>{{ p.description }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="category">
		<h3>Create Your Own Pizza</h3>
		<div class="createpizza">
			<h4>{{ small }}</h4>
			<h4>{{ medium }}</h4>
			<h4>{{ large }}</h4>
			<h4>{{ xlarge }}</h4>
		</div>

		<a href="{% url 'pizza:create' %}">
			<div class="create">
				<h4>Create Now</h4>
			</div>
		</a>
	</div>
</div>

<div class="bottom">
	<div class="category">
		<h3>Calzones</h3>
		<div class="row">
			{% for i in calzone %}
			<div class="col col-lg-4 menu4">
				<a href="{% url 'pizza:other' pk=i.pk %}">
					<h4>{{ i.name }}</h4>
					<p>{{ i.description }} {{ i.price }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="category">
		<h3>Hot "Stuft" Sandwiches</h3>
		<div class="row">
			{% for i in sandwich %}
			<div class="col col-lg-4 menu4">
				<a href="{% url 'pizza:other' pk=i.pk %}">
					<h4>{{ i.name }}</h4>
					<p>{{ i.price }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="category">
		<h3>Fresh Salads</h3>
		<div class="row">
			{% for i in salad %}
			<div class="col col-lg-4 menu4">
				<a href="{% url 'pizza:other' pk=i.pk %}">
					<h4>{{ i.name }}</h4>
					<p>{{ i.description }} {{ i.price }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="category">
		<h3>Appetizers</h3>
		<div class="row">
			{% for i in appetizer %}
			<div class="col col-lg-4 menu4">
				<a href="{% url 'pizza:other' pk=i.pk %}">
					<h4>{{ i.name }}</h4>
					<p>{% if i.description != None %}{{ i.description }}{% endif %} {{ i.price }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}