{% extends "pizza/base.html" %}

{% block body %}
<div class="container">
	<h1>Hello, {{ user.username }}</h1>
</div>

<div class="container">
	<div class="panel panel-primary">
  		<div class="panel-heading">Specialty Pizzas</div>
		<div class="panel-body">
			{% for i in spizza_prices %}
			{{ i.size }} {{ i.price }}
			{% endfor %}
			{% for p in spizza %}
			<a href="{% url 'pizza:specialty' name=p.name %}">
			<div>
				<h3>{{ p.name }}</h3>
				<p>{{ p.description }}</p>
			</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-primary">
  		<div class="panel-heading">
			Create Your Own Pizza
		</div>
		<div class="panel-body">
			<a href="{% url 'pizza:create' %}">
				<h3>Create Now</h3>
			</a>
			<p>Small {{ small_price.pizza_price.price }} Each Additional Topping {{ small_price.topping_price.price }}</p>
			<p>Medium {{ medium_price.pizza_price.price }} Each Additional Topping {{ medium_price.topping_price.price }}</p>
			<p>Large {{ large_price.pizza_price.price }} Each Additional Topping {{ large_price.topping_price.price }}</p>
			<p>X-Large {{ xlarge_price.pizza_price.price }} Each Additional Topping {{ xlarge_price.topping_price.price }}</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-primary">
  		<div class="panel-heading">Calzones</div>
		<div class="panel-body">
			{% for i in calzone %}
			<h3>{{ i.name }}</h3>
			<p>{{ i.description }} {{ i.price }}</p>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-primary">
  		<div class="panel-heading">Hot "Stuft" Sandwiches</div>
		<div class="panel-body">
			{% for i in sandwich %}
			<h3>{{ i.name }}</h3>
			<p>{{ i.price }}</p>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-primary">
  		<div class="panel-heading">Fresh Salads</div>
		<div class="panel-body">
			{% for i in salad %}
			<h3>{{ i.name }}</h3>
			<p>{{ i.description }} {{ i.price }}</p>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-primary">
  		<div class="panel-heading">Appetizers</div>
		<div class="panel-body">
			{% for i in appetizer %}
			<h3>{{ i.name }}</h3>
			<p>{{ i.description }} {{ i.price }}</p>
			{% endfor %}
		</div>
	</div>
</div>


<div class="container">
	<ul>
		<li>Currently logged in as: {{ user.username }}</li>
		<li><a href="{% url 'pizza:logout' %}">Logout</a></li>
	</ul>
</div>
{% endblock %}