{% extends "primer/layout.html" %}
{% load static %}

{% block sports %}
{% if frigames %}	
<thead>
	<td colspan="3">Friday</td>
</thead>
<tbody>
	{% for game in frigames %}
	<tr>
	    <td class="left">
	    	<img class="logo" alt="{{ game.team1 }}" src="{% static 'primer/assets/' %}{{ game.team1image }}">
	    	<span class="left">{{ game.team1 }}</span>
	    </td>
    	<td class="center">
    		<img class="network" alt="CBSSN" src="{% static 'primer/assets/' %}{{ game.network_image }}">
    		<p>{{ game.time }}</p>
    	</td> 
    	<td class="right">
    		<span class="right">{{ game.team2 }}</span>
    		<img class="logo" alt="{{ game.team2 }}" src="{% static 'primer/assets/' %}{{ game.team2image }}">
    	</td>
	</tr>
	{% endfor %}
</tbody>
{% endif %}

{% if satgames %}	
<thead>
	<td colspan="3">Saturday</td>
</thead>
<tbody>
	{% for game in satgames %}
	<tr>
	    <td class="left">
	    	<img class="logo" alt="{{ game.team1 }}" src="{% static 'primer/assets/' %}{{ game.team1image }}">
	    	<span class="left">{{ game.team1 }}</span>
	    </td>
    	<td class="center">
    		<img class="network" alt="CBSSN" src="{% static 'primer/assets/' %}{{ game.network_image }}">
    		<p>{{ game.time }}</p>
    	</td> 
    	<td class="right">
    		<span class="right">{{ game.team2 }}</span>
    		<img class="logo" alt="{{ game.team2 }}" src="{% static 'primer/assets/' %}{{ game.team2image }}">
    	</td>
	</tr>
	{% endfor %}
</tbody>
{% endif %}

{% if sungames %}	
<thead>
	<td colspan="3">Sunday</td>
</thead>
<tbody>
	{% for game in sungames %}
	<tr>
	    <td class="left">
	    	<img class="logo" alt="{{ game.team1 }}" src="{% static 'primer/assets/' %}{{ game.team1image }}">
	    	<span class="left">{{ game.team1 }}</span>
	    </td>
    	<td class="center">
    		<img class="network" alt="CBSSN" src="{% static 'primer/assets/' %}{{ game.network_image }}">
    		<p>{{ game.time }}</p>
    	</td> 
    	<td class="right">
    		<span class="right">{{ game.team2 }}</span>
    		<img class="logo" alt="{{ game.team2 }}" src="{% static 'primer/assets/' %}{{ game.team2image }}">
    	</td>
	</tr>
	{% endfor %}
</tbody>
{% endif %}

{% if mongames %}	
<thead>
	<td colspan="3">Monday</td>
</thead>
<tbody>
	{% for game in mongames %}
	<tr>
	    <td class="left">
	    	<img class="logo" alt="{{ game.team1 }}" src="{% static 'primer/assets/' %}{{ game.team1image }}">
	    	<span class="left">{{ game.team1 }}</span>
	    </td>
    	<td class="center">
    		<img class="network" alt="CBSSN" src="{% static 'primer/assets/' %}{{ game.network_image }}">
    		<p>{{ game.time }}</p>
    	</td> 
    	<td class="right">
    		<span class="right">{{ game.team2 }}</span>
    		<img class="logo" alt="{{ game.team2 }}" src="{% static 'primer/assets/' %}{{ game.team2image }}">
    	</td>
	</tr>
	{% endfor %}
</tbody>
{% endif %}
{% endblock %}

{% block media %}
{% if media %}
<div class="row">
	{% for item in media %}
	<div class="col-lg-4 col-sm-6">
		<div class="entry">
			<img src="{% static 'primer/assets/' %}{{ item.entry_image }}">
			<h3>{{ item.title }}</h3>
			<p>{{ item.entry }}</p>
			<div class="text-center hottake"><i class="fa fa-angle-down"></i></div>
			<p style='display:none'>{{ item.hottake }}</p>
		</div>
	</div>
	{% endfor %}
</div>
{% else %}
<h3><img id="yoda" src="{% static 'primer/assets/' %}yoda.png"></h3>
<h4 style="text-align: center">Patience you must have, my young Padawan</h4>
{% endif %}
{% endblock %}

{% block comments %}
{% for com in comments %}
<div class="comment_entry">
	<p class="author">{{ com.name }} says:</p>
	<p class="comment">{{ com.comment }}</p>
	<hr>
</div>
{% endfor %}

<form action="{% url 'primer:comment' week %}" method="post">
	{% csrf_token %}
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="name-input">Your Name:</label>
			<input class="form-control" type="text" name="name" id="name">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12">
			<label for="comment-input">Your Own Hot Take:</label>
			<textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
	</div>
	</div>
	<div class="form-group">
		<p align="right"><button class="btn btn-primary">Submit</button></p>
	</div>
</form>
{% endblock %}